<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet"  href="/public/css/newstyle.css">
    <title></title>
</head>
<body>

<div class="page">

        <%- include ('blocks/headre.ejs'); -%>

    <div class="center">

        <%- include ('blocks/nav.ejs'); -%>

        <main class="content">
            <div class="text">
                <p>,ljbhv</p>
            </div>
        </main>

    </div>

    <%- include ('blocks/footer.ejs'); -%>

</div>

</body>
</html>